name: scp files
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: copy file via ssh key
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.OBS_SSH_HOST }}
        username: ${{ secrets.OBS_SSH_USER }}
        port: ${{ secrets.PORT }}
        key: ${{ secrets.OBS_SSH_PRIVATE_KEY }}
        source: "aplicacao.yml,grafana.yml,fluentbit.yml,fluentbit.conf,"
        target: /home/Lindemberg/Observar
  
